@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in our Botanical app</h1>

    <div class="image-wrapper">
        <img src="~/Assets/welcome-picture.png" style="width: 80vw;" />
    </div>
</div>
