@model IEnumerable<Herbarium>
@{
  ViewData["Title"] = "List of herbariums";
}
<h2>List of herbariums</h2>

<table class="table table-sm table-striped table-hover" id="tableherbarium">
  <thead>
      <tr>
          <th>Name</th>
          <th>YearOfCollection</th>
      </tr>
  </thead>
  <tbody>
    @foreach (var herbarium in Model)
    {
      <tr>
          <td class="text-center">@herbarium.InventoryNumber</td>
          <td class="text-center">@herbarium.YearOfCollection</td>
      </tr>
    }
  </tbody>
</table>

@section styles{
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
}

@section scripts{
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
  <script>
      $(document).ready(function () {
          $('#tableherbarium').DataTable();
      });
  </script>
}