@model Species

@{
  ViewBag.Title = "New Species";
}

<h2>New Species</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="LatinName"></label>
        <div><span asp-validation-for="LatinName" class="text-danger" /></div>
        <input asp-for="LatinName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsEndemic"></label>
        <div><span asp-validation-for="IsEndemic" class="text-danger" /></div>
        <input asp-for="IsEndemic" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsAutochthonous"></label>
        <div><span asp-validation-for="IsAutochthonous" class="text-danger" /></div>
        <input asp-for="IsAutochthonous" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsWeed"></label>
        <div><span asp-validation-for="IsWeed" class="text-danger" /></div>
        <input asp-for="IsWeed" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsInvasive"></label>
        <div><span asp-validation-for="IsInvasive" class="text-danger" /></div>
        <input asp-for="IsInvasive" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TaxonomicTree"></label>
        <div><span asp-validation-for="TaxonomicTree" class="text-danger"></span></div>
        <select class="form-control" asp-for="TaxonomicTree" asp-items="ViewBag.Genu">
            <option disabled selected value="">Chose genus</option>
        </select>
    </div>
    <a asp-action="CreateGenus">Add new genus</a>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Add</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>

@section scripts {
  <partial name="IncludeValidation" />
}